---
layout: default
---
<header>
  <h1>{{ site.title }}</h1>
  {%-if site.theme_config.show_description-%}
    <p>{{ site.description }}</p>
  {%-endif-%}
</header>
<style>
  body {
      text-align: center;
      margin: 0;
      padding: 0;
  };
  ul {
            list-style-position: inside; /* Keep bullets inside the list container */
            padding-left: 0;             /* Remove default padding */
            display: inline-block;        /* Make the list inline-block to center it */
            text-align: center;             /* Align text and bullets properly inside the list */
        };
  
</style>
{{ content }}

{%-include menu_item.html collection=site.data.menu.entries-%}
<h3>Schaffen
</h3>
{%-include menu_item.html collection=site.data.menu.passions-%}<br>
<h3>Communitys
</h3>
{%-include menu_item.html collection=site.data.menu.communitys-%}
<hr/>
<b>Impressum</b></br></br> 

Brian Junker-Latocha</br> 
Hermann-Steinhäuser-Str. 18</br> 
63065 Offenbach</br> 
Deutschland 



